.financial-product__container {
  width: 100%;
  padding: 2rem;
}

.financial-product__search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.financial-product__table-container {
  background: var(--primary-color);
  box-shadow: 0 5px 15px var(--box-shadow-color);
  padding: 2rem;
  overflow: auto;
}

.financial-product__table {
  width: 100%;
  border-spacing: 0;
  border-radius: 4px;
  -webkit-border-vertical-spacing: 1rem;

  thead {
    font-weight: bold;
  }
}

.financial-product__table th,
.financial-product__table td {
  width: 20%;
  font-size: 1.4rem;
}

.financial-product__table th {
  background: var(--body-color);
  padding: 1.6rem;
}

.financial-product__table td {
  margin-left: 50%;
  text-align: center;
  position: relative;
}

.financial-product__logo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 50%;
  transform: translateX(-50%);
}

.financial-product__logo > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.financial-product__result-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.financial-product__total-span {
  display: inline-block;
  align-self: center;
  font-size: 1.2rem;
}

.financial-product__contextual-menu {
  visibility: hidden;
  background-color: var(--primary-color);
  border: 1px solid #cccccc;
  border-radius: 4px;
  position: absolute;
  top: 0;
  transform: translate(-15%, 60%);
  z-index: 1;
}

.financial-product__contextual-menu--active {
  visibility: visible;
}

.financial-product__contextual-item {
  cursor: pointer;
  padding: 4px 8px;
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: block;
  background: var(--primary-color);

  &:hover {
    background-color: rgba(248, 248, 248, 0.36);
  }
}

.btn__action {
  span {
    font-weight: bold;
  }
}
