:root {
  --primary-color: #ffff;
  --red-color: #FC4747;
  --body-color: #f5f6fa;
  --button-color: #E9ECF3;
  --button-color-secondary: #C7CFE1;
  --button-main-color: #FFDD00;
  --button-sec-color: #ffe74d;
  --box-shadow-color: #959DA533;
  --text-color-alt: #FFFFFF;
  --header-text: hsl(222, 51%, 27%)
}
